.pag-control {
    font-size: 18px;
    position: absolute;
    bottom: 20px
}

.pag-link {
    color: #6c757d;
}

.pag-link:hover {
    text-decoration: none;
    color: #d9534f;
}

.link-no-dec{
    color: black;
}

.link-no-dec:hover{
    text-decoration: none;
    color: black;
}